img.about-img{
    border-radius: 10px;
    width: 300px;
    height: auto;
    
}

p.about-text{
    text-align: justify;
    font-family: Quicksand, sans-serif;
}

h1.about-heading{
    margin-bottom: 10px;
    font-weight: 700;
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

p.biodata-text{
    color: white;
    justify-content: center;
    font-family: Quicksand, sans-serif;

}

h2.biodata-heading{
    color: #f9004d;
}

.age-heading{
    margin: 1em;
}
.age-text{
    margin: 1.2em;
    font-family: Quicksand, sans-serif;
}

.bday-heading{
    margin: 1em;
}
.bday-text{
    margin: 1.2em;
    font-family: Quicksand, sans-serif;
}

.address-heading{
    margin: 1em;
}
.address-text{
    margin: 1em;
    font-family: Quicksand, sans-serif;
}

@media screen and (min-width: 400px){
    div.row {
        width: 100%;
    }
}


