h1.heading{
    font-size: 60px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}
h1.heading2{
    font-size: 30px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}
.skills-box{
    border-radius: 10px;
    width: 250px;
    height: auto;
    background-color: #191919;
    padding: 55px;
    transition: .4s ease ;
}
/* animataion */
.skills-box:hover{
    transform: translateY(5px);
    background-image: linear-gradient(90deg, #f61b10, #ef0963);
}

.skills-meta,h1.skills-text{
    color: white;
}

/* h1.skills-text:hover{
    color: white;
} */

.icon{
    font-size: 54px;
    font-weight: 400;
    margin-bottom: 10px;
    padding-left: 0.8em;
    color: #f9004d;
    
    flex: auto; 
    justify-content:center;
    align-items:center;
}

p.skills-text.p-color{
    margin-bottom: 0;
}

h1.skills-text{
    font-size: 19px;
    font-family: Poppins,sans-serif;
    padding: 10px 0px;
    text-align: center;
}

.javascript-icon {
    width: 1em;
    height: auto;
    align-items: center;
}

.css-icon{
    width: 1em;
    height: auto;
    align-items: center;
}

.html-icon{
    width: 1em;
    height: 1em;
    align-items: center;
}

.bt-icon{
    width: 1em;
    height: 1em;
    align-items: center;
}

.java-icon {
    width: 1em;
    height: auto;
    
    
}

.word-icon{
    width: 1em;
    height: 1em;
    
}

.ppt-icon{
    width: 1em;
    height: auto;
    align-items: center;
}

.excel-icon{
    width: 1em;
    height: auto;
}

.react-icon{
    width: 1em;
    height: auto;
}

.reactn-icon{
    width: 1em;
    height: auto;
}

.col-3 {
    max-width: 20em;
    min-height: 20em;
    
}

